.text-button{
  font-size: 13px;
}

.scrolledwindow {
  border-radius: 10px;
  border-color: rgba(106, 159, 221, 0.05);
  border: solid 1px rgba(106, 159, 221, 0.05);
} .treeview {
  background-color: rgba(106, 159, 221, 0.05);
  color: rgba(0, 1, 0, 0.5);
  font-size: 13px;
} .treeview:hover {
  background-color: rgba(106, 159, 221, 0.1);
} .treeview:selected {
  color: rgba(0, 1, 0, 0.5);
  background-color: rgba(106, 159, 221, 0.2);
} .treeview header button{
  padding: 6px;
  background-color: rgba(0, 0, 0, 0.1);
  color: rgba(0, 1, 0, 0.5);
  min-height: 23px;
  border:groove 1px rgba(0, 0, 0, 0.1);
}

#right_box {
  padding-right: 25px;
}

popover {
  border-radius: 10px;
  border: solid 1px #ffffff;
}

.color_box {
  border-radius: 10px;
  background-color: rgba(106, 159, 221, 0.05);
} .font_box label {
  color: #393939;
}

.info_box {
  border-radius: 10px;
  background-color: rgba(106, 159, 221, 0.05);
  color: rgba(0, 1, 0, 0.5);
} .line_box {
  background-color: rgba(106, 159, 221, 0.05);
  border-radius: 10px;
}.desc {
  color: #000100;
}

#lbl_title {
  padding: 0px 15px 0px 0px;
}

#frame_side {
  border-radius: 10px;
  background-color: #e6e9f0;;
  color: #000100;
} #trv_sidebar_contents{
  border-radius: 10px;
  background-color: #e6e9f0;;
  font-size: 13px;
} #trv_sidebar_contents :hover{
  border-radius: 10px;
  color: #2f58b7;
  background-color: rgba(62, 109, 220, 0.2);
} #trv_sidebar_contents :selected{
  border-radius: 10px;
  background-color: #3e6ddc;
  color: #ffffff;
}

.btn_blue {
  border-radius: 10px;
  background-color: #3e6ddc;
  color: #ffffff;
  font-size: 13px;
}

.radio {
  border: none;
  border-radius: 10px;
  color: rgba(0, 1, 0, 0.5);
  padding-top: 7px;
  padding-bottom: 8px;
  background-color:rgba(0, 0, 0, 0);
  font-size:13px;
}.radio:hover {
  background-color:rgba(0, 0, 0, 0.1);
}.radio:checked {
  background-color: #3e6ddc;
  color: #ffffff;
}.btn_box {
  border-radius: 10px;
  background-color: rgba(0, 0, 0, 0.1);
}

.log_filter_popover {
  border-radius: 10px;
  border: solid 1px rgba(0, 0, 0, 0.2);
  background-color:#ffffff;
  color: #000100;
}.log_filter_popover:hover {
  background-color:#ffffff;
  border-color: #3e6ddc;
}.log_filter_popover:active {
  background-color:rgba(62, 109, 220, 0.2);
  border-color: #3e6ddc;
} combobox button {
  font-size:13px;
  padding: 0px 15px;
} popover grid {
  min-width: 380px;
} combobox button:hover {
  background-color:#ffffff;
  border-color: #3e6ddc;
} .log_btn {
  padding: 0px 15px;
} .log_btn:disabled {
  opacity: 0.5;
}

#btn_site_list {
  border: none;
  padding: 0px;
  min-width: 0px;
} #btn_site_list:hover {
  background-color: transparent;
} #btn_site_list label {
  color: #0251ff;
} #btn_site_list:hover label {
  color:#356ddc;
} #lbl_site_list:disabled{
  color: rgba(0, 1, 0, 0.5);
}

#image_box {
  padding: 3px;
  border-radius: 10px;
  background-color: rgba(106, 159, 221, 0.2);
}

#btn_safety_measure {
  border-radius: 10px;
  border: solid 1px rgba(0, 0, 0, 0.2);
  background-color: #ffffff;
  padding: 8px 20px 7px;
} #btn_safety_measure label {
  color: #000100;
} #btn_safety_measure:hover {
  border: solid 1px #3e6ddc;
} #btn_safety_measure:disabled {
  opacity: 0.5;
}
